@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}

.section {
  background: url("../img/peb-lines.png");
  height: 100vh;
  position: relative;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__gradiente {
  background-image: linear-gradient(to top, rgba(112, 40, 228, 0.81) 0%, rgba(229, 178, 202, 0.8) 100%);
  position: absolute;
  z-index: 20;
  opacity: 90%;
  height: 100%;
  width: 100%;
}

.section__gradiente__content {
  background: #f8f8f8;
  padding: 2rem;
  z-index: 30;
  opacity: 100%;
  width: 80%;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  border-radius: 0.3rem;
}
.section__gradiente__content__form {
  border-left: 1px solid gainsboro;
}
@media (max-width: 991.98px) {
  .section__gradiente__content__form {
    border: none;
  }
}
.section__gradiente__content__form__button {
  cursor: pointer;
  width: 100%;
  display: block;
  background: #7028E4;
  color: #f8f8f8;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.8rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  border-radius: 0.3rem;
}

@media (max-width: 767.98px) {
  .section__gradiente__content {
    margin-top: 1rem;
  }
}
.section__gradiente__content__infos {
  justify-content: center;
  padding: 1rem 3rem;
}
.section__gradiente__content__infos__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.section__gradiente__content__infos__logo img {
  height: 250px;
}
@media (max-width: 767.98px) {
  .section__gradiente__content__infos__logo img {
    height: 100px;
  }
}
.section__gradiente__content__infos h1 {
  font-weight: 600;
}
.section__gradiente__content__form {
  padding: 1rem 3rem;
  display: flex;
  align-self: center;
}

#map {
  height: 300px;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
