@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');
@import "mixins";
@import "external/bootstrap/index";

* {
  font-family: 'Montserrat', sans-serif;
}

.section {
  background: url("../img/peb-lines.png");
  height: 100vh;
  position: relative;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &__gradiente {
    background-image: linear-gradient(to top, rgba(112, 40, 228, 0.81) 0%, rgba(229, 178, 202, 0.8) 100%);
    position: absolute;
    z-index: 20;
    opacity: 90%;
    height: 100%;
    width: 100%;
  }
}

.section__gradiente__content {
  background: #f8f8f8;
  padding: 2rem;
  z-index: 30;
  opacity: 100%;
  width: 80%;
  @include prefix((
          border-radius: .3rem
  ), webkit moz ms o);

  &__form {
    border-left: 1px solid gainsboro;
    @include media-breakpoint-down(md) {
      border: none;
    }

    &__button {
      cursor: pointer;
      width: 100%;
      display: block;
      background: #7028E4;
      color: #f8f8f8;
      border: none;
      text-transform: uppercase;
      font-weight: 600;
      padding: .8rem;
      @include prefix((
              border-radius: .3rem
      ), webkit moz ms o);
    }
  }
}

.section__gradiente__content {
  @include media-breakpoint-down(sm) {
    margin-top: 1rem;
  }

  &__infos {
    justify-content: center;
    padding: 1rem 3rem;

    &__logo {
      display: flex;
      justify-content: center;
      margin-bottom: 2rem;

      img {
        height: 250px;
        @include media-breakpoint-down(sm) {
          height: 100px;
        }
      }
    }

    h1 {
      font-weight: 600;
    }
  }

  &__form {
    padding: 1rem 3rem;
    display: flex;
    align-self: center;
  }
}

#map {
  height: 300px;
  width: 100%;
}